#apexcharts-radialbarTrack-0 , #apexcharts-radialbarTrack-2 {
  stroke-width: 11px;
  stroke: #353440;
}

#apexcharts-radialbarTrack-1 , #apexcharts-radialbarTrack-3 {
  stroke-width: 11px;
  stroke: #2a2836;
}

// #SvgPath