.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ABBBC2;

}

.footer__bottom , .footer__top {
  display: flex;
  align-items: center;
}

.footer__top {
  margin-bottom: 19px;
}

.footer__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #FFFFFF;
  margin-left: auto;
  display: block;
}

.footer__body {
  margin-bottom: 45px;
}

.footer__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FAFAFA;
  background: #EA7C69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  width: 100%;
  padding: 14px;
  border: none;
}