.main {
  background: #1F1D2B;
  border-radius: 8px;
  padding-top: 34px;
  padding-right: 18px;
  padding-left: 24px;
  // background-image: url("../../assets/Images/Divider.png");
  // background-repeat: no-repeat;
  // background-position: center 130px;
  // background-size: 100%;
}